services:
    app:
        build:
            context: .
            dockerfile: docker/app/Dockerfile
        container_name: etfs_${ETFS_PROJECT_NAME}_app
        volumes:
            - .:/var/www
        networks:
            - default
        depends_on:
            - mariadb
        restart: unless-stopped

    nginx:
        image: nginx:latest
        container_name: etfs_${ETFS_PROJECT_NAME}_nginx
        ports:
            - "127.0.0.1::80"
        volumes:
            - .:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - default
        restart: unless-stopped

    mariadb:
        image: mariadb:12.0.2
        container_name: etfs_${ETFS_PROJECT_NAME}_mariadb
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_DATABASE: etfs_${ETFS_PROJECT_NAME}_dev
            MYSQL_USER: root
            MYSQL_PASSWORD: secret
        volumes:
            - mariadb_data:/var/lib/mysql
        networks:
            - default
        restart: unless-stopped

networks:
    default:
        name: etfs_${ETFS_PROJECT_NAME}_default
        driver: bridge

volumes:
    mariadb_data:
        name: etfs_${ETFS_PROJECT_NAME}_mariadb_data
