{% extends '@Webui/base_fullcontent.html.twig' %}

{% block footer %}
    <div class="flex flex-wrap items-center justify-center gap-x-4 gap-y-2">
        <span>&copy; {{ "now"|date("Y") }} <a href="https://dx-tooling.org" class="text-inherit no-underline hover:no-underline">DX路Tooling</a></span>
        <span>路</span>
        <a href="https://dx-tooling.org/sitebuilder/" class="hover:text-primary-600 dark:hover:text-primary-400 underline">Website</a>
        <span>路</span>
        <a href="https://github.com/dx-tooling/sitebuilder-webapp" class="hover:text-primary-600 dark:hover:text-primary-400 underline">GitHub</a>
        <span>路</span>
        {% include '@common.presentation/_language_switcher.html.twig' %}
    </div>
    <div class="flex flex-wrap items-center justify-center gap-x-2 gap-y-2 mt-4 text-sm text-dark-600 dark:text-dark-400">
        <span>Sponsored by</span>
        <a href="https://www.joboo.de" class="inline-flex items-center hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 dark:focus:ring-offset-dark-800 rounded" rel="noopener noreferrer" target="_blank" aria-label="JOBOO! GmbH">
            <img src="https://webassets.cdn.www.joboo.de/assets/images/joboo-inverted.png" alt="JOBOO! GmbH" class="h-6 w-auto" width="2570" height="843" loading="lazy">
        </a>
    </div>
{% endblock %}
