{% extends '@Webui/base_appshell.html.twig' %}

{% block header_right %}
    {# Language switcher #}
    {% include '@common.presentation/_language_switcher.html.twig' %}

    {# Dark mode toggle #}
    <button
        type="button"
        onclick="toggleDarkMode()"
        class="rounded-full w-9 h-9 flex items-center justify-center text-dark-600 hover:text-primary-600 dark:text-dark-400 dark:hover:text-primary-400 hover:bg-blue-50 dark:hover:bg-blue-900/10 focus:outline-none"
    >
        <svg class="hidden dark:block h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"/>
        </svg>
        <svg class="block dark:hidden h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"/>
        </svg>
    </button>

    {% block notifications %}{% endblock %}

    {# Mobile menu toggle #}
    <button type="button"
            class="lg:hidden flex items-center gap-x-1.5 p-2 text-sm font-medium text-dark-700 bg-white rounded-md border border-dark-300 shadow-sm hover:bg-dark-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-dark-700 dark:text-dark-200 dark:border-dark-600 dark:hover:bg-dark-600 dark:focus:ring-offset-dark-800 cursor-pointer"
            {{ stimulus_action('webuiMainNavigation', 'toggleMobileSidebar', 'click') }}
    >
        <span>Menu</span>
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
    </button>
{% endblock %}

{% block flash_messages %}
    {% set flashes = app.flashes %}
    {% if flashes|length > 0 %}
        <div class="space-y-4 mb-8">
            {% for type, messages in flashes %}
                {% for message in messages %}
                    {% set alert_classes = 'p-4 rounded-md border text-sm font-medium' %}
                    {% if type is same as 'success' %}
                        {% set alert_classes = alert_classes ~ ' bg-green-50 border-green-300 dark:bg-green-900/30 dark:border-green-700/50 text-green-800 dark:text-green-200' %}
                    {% elseif type is same as 'warning' %}
                        {% set alert_classes = alert_classes ~ ' bg-yellow-50 border-yellow-300 dark:bg-yellow-900/30 dark:border-yellow-700/50 text-yellow-800 dark:text-yellow-200' %}
                    {% elseif type is same as 'error' or type is same as 'danger' %}
                        {% set alert_classes = alert_classes ~ ' bg-red-50 border-red-300 dark:bg-red-900/30 dark:border-red-700/50 text-red-800 dark:text-red-200' %}
                    {% else %}
                        {% set alert_classes = alert_classes ~ ' bg-blue-50 border-blue-300 dark:bg-blue-900/30 dark:border-blue-700/50 text-blue-800 dark:text-blue-200' %}
                    {% endif %}
                    <div class="{{ alert_classes }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
