{% extends '@Webui/base_fullcontent.html.twig' %}

{% block footer %}
    <div class="flex flex-wrap items-center justify-center gap-x-4 gap-y-2">
        <span>&copy; {{ "now"|date("Y") }} DX路Tooling</span>
        <span>路</span>
        <a href="https://dx-tooling.org/sitebuilder/" class="hover:text-primary-600 dark:hover:text-primary-400 underline">Website</a>
        <span>路</span>
        <a href="https://github.com/dx-tooling/sitebuilder-webapp" class="hover:text-primary-600 dark:hover:text-primary-400 underline">GitHub</a>
        <span>路</span>
        {% include '@common.presentation/_language_switcher.html.twig' %}
    </div>
{% endblock %}
